{% extends 'base.html' %}

{% block header %}
Performance Bridge Media<small class="pull-right">what we do</small>
{% endblock header %}

{% block content %}
<div class="container">
    <blockquote>
        <p>This archive is an academic resource dedicated to aggregating and cataloging manifestos that fall under two basic criteria. 1) The Digital Manifesto Archive features manifestos that focus on the political and cultural dimensions of digital life. 2) The Digital Manifesto Archive features manifestos that are written, or are primarily disseminated, online.</p>
        <p>The manifesto genre is, by definition, timely and politically focused. Further, it is a primary site of political, cultural, and social experimentation in our contemporary world. Manifestos that are created and disseminated online further this experimental ethos by fundamentally expanding the character and scope of the genre.</p>
        <p>Each category listed at The Digital Manifesto Archive is loosely organized by theme, political affiliation, and (if applicable) time period. While the political movements and affiliations of the manifestos archived in each category are not universal, each category does try to capture a broad spectrum of political moods and actions with regard to its topic.</p>
        <footer><cite>This archive was created by <a href="http://mapplega.com">Matt Applegate</a>. It is maintained by Matt Applegate and <a href="http://yuyinto.wordpress.com">Yu Yin (Izzy) To</a></cite></footer>
        <p>You can contact us at <a href="mailto:digitalmediaarchive@gmail.com"><span style="text-decoration:underline;">digitalmanifestoarchive@gmail.com</span></a>.</p>
        <p>We are particularly indebted to the contributors of the WebCultures listerv.</p>

    </blockquote>
</div>
{% endblock content %}

{% block footer %}
{% endblock %}