{% extends 'base.html' %}

{% block header %}About Our Project{% endblock header %}

{% block content %}
<div class="container">
    <p>The Digital Manifesto Archive is a resource dedicated to aggregating and cataloging manifestos that fall under three basic criteria:</p>
    <ol>
        <li>Manifestos that focus on the political and cultural dimensions of digital life</li>
        <li>Manifestos that are written, or are primarily disseminated, online</li>
        <li>Manifestos that further radical democratic politics, cultures, and technologies</li>
    </ol>
    <p>The manifesto genre is, by definition, timely and politically focused. Further, the genre is a primary site of political, cultural, and social experimentation in our contemporary world. Manifestos that are created and disseminated online further this experimental ethos by fundamentally expanding the character and scope of the genre. Each category listed on the archive is loosely organized by theme and political desire. Collections signify loose thematic affiliations, rather than political unity.</p>
    <p>Manifestos selected for inclusion to the Digital Manifesto Archive do not discriminate on the basis of race, gender, or sexual orientation; they do not limit democratic will or desire. The Digital Manifesto Archive is therefore inclusive of any digital manifesto that forwards radically democratic iterations of political organization and conflict, and exclusive of any manifesto that would delimit, undermine, or eliminate a pluralistic vision of democratic politics.</p>
    <p>The Digital Manifesto Archive is independently built, organized, and maintained. It is both a minimal and small-scale operation. Manifestos are added to the archive irregularly, but the collective operating the archive is committed to its on-going development. This site is meant to preserve manifestos for future research and teaching. The opinions expressed by each author are their own. Rights are held by authors.</p>
    <p>Submissions to <a href="mailto:digitalmanifestoarchive@gmail.com">digitalmanifestoarchive@gmail.com</a> are welcome.</p>
    <p>The code for this project is open source. You can see gwhigs' work for the site here: <a href="https://github.com/gwhigs/digital-manifesto">Digital Manifesto Archive @ Github.com</a></p>

    <div class="text-center">
        <h2>Manifesto</h2>
        <p>We, the collective that maintains the Digital Manifesto Archive, work with minimal resources. The archive operates on a small-scale because we are a small-scale operation. We made the Digital Manifesto Archive to augment our political affinities and commitments, to create as a form of critique, and to care for political expression that is often excluded from more polite intellectual discourse.</p>
        <p>The Digital Manifesto Archive is a minimal. It is political. It is a collective expression of critical making.</p>
        <p>The Digital Manifesto Archive is dedicated to political affiliation, rather than institutional affiliation, and thus refuses any attempt to depoliticize its structure or contents. The archive rejects institutional affiliation because institutional affiliation is institutional cooptation. The manifesto, by definition, belongs to us all.</p>
        <p>Like the genre it preserves, the Digital Manifesto Archive rejects neutrality, objectivity, and the discourse of “rational men.” It embodies the polemics of the genre and refuses to preserve “both sides,” “all sides,” or operate as a “big tent.”</p>
        <p>The Digital Manifesto Archive preserves a diversity of thought from radical political lineages. It preserves the thought of diverse political figures. It refuses reactionary calls for civility because the manifesto genre is uncivil. It preserves a plurality of figures and thought because the basis for radical political thought is always asymmetric.</p>
        <p>The Digital Manifesto Archive is a para-academic site that preserves manifestos for future research and teaching. It is not bound by any systematized iteration of these, be it a classroom, syllabus, or genre of academic discourse.</p>
        <p>The Digital Manifesto Archive indexes. It indicates by thematic relation and political affiliation. It does not command, moralize, or attempt to limit original works by their inclusion.</p>
        <p>The Digital Manifesto Archive is an expression of adversarial design. It preserves political tension. It vaunts dissensus because its contents are agonistically aligned.</p>
        <p>The Digital Manifesto Archive operates on the basis of political need. It is an access point to diverse worlds of political thought to those who seek it. It lies in wait for those who become animated by contradiction, and expands the affinities born out of political refusal.</p>
        <p>The Digital Manifesto Archive preserves a collection of radically diverse “nows.” The manifesto genre operates in the present tense. The archive holds differential articulations of the present together in a tenuous political exchange.</p>
        <p>Finally, the Digital Manifesto Archive is incomplete. It does not proclaim to be a comprehensive accumulation of digital manifestos, nor would this be desirable. Like the genre itself, the Digital Manifesto Archive cleaves the world to its partisan vision. The archive includes as much as it excludes given its commitment to radical democratic ideals and the dissensus of democratic thought.</p>
    </div>

    <h2>About Us</h2>
        <p>This archive was created by <a href="http://mapplega.com">Matt Applegate</a>. Our database and website were created by Graham Higgins (<a href="https://github.com/gwhigs">gwhigs</a>). It is maintained by <a href="http://mapplega.com">Matt Applegate</a> and <a href="http://yuyinto.wordpress.com">Yu Yin (Izzy) To</a>.</p>
    <h2>Contact Us</h2>
        <p>You can contact us at <a href="mailto:digitalmediaarchive@gmail.com">digitalmanifestoarchive@gmail.com</a>.</p>

</div>
{% endblock content %}

{% block footer %}
{% endblock %}