{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}The Digital Manifesto Archive{% endblock header %}

{% block content %}
<div class="container">
	<img src="{% static 'manifestos/img/DMA.png' %}" class="img-responsive center-block">
    <h3 class="text-center">Our Summer 2015 Relaunch!</h3>
	<p class="text-center">Welcome to our new site! The Digital Manifesto Archive is an academic resource dedicated to aggregating and cataloging manifestos that focus on the political and cultural dimensions of digital life. The manifestos featured here were either written or primarily disseminated online. Our new site will be updated about twice a month with new and significant digital manifestos. We are also developing several new features intended to enhance academic research/classroom use of our site's content. Our first feature is our new Tumblr account: <a href="http://digitalmanifestoarchive.tumblr.com/">http://digitalmanifestoarchive.tumblr.com/</a>. We will update our The Digital Manifesto Tumblr concurrently with our new site. Enjoy!</p>  
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51926542-1', 'auto');
  ga('send', 'pageview');

</script>
  
{% endblock content %}